.productSlider{
    display: flex;
    flex-direction: row!important;
    justify-content: center;
    gap: 24px;
    align-items: center;
    transition: transform 0.3s ease-in-out;


}

.productColumn{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    height: 600px;
    gap: 12px;
    min-width: auto;
    width: 400px;
}


.rotateChevron{
    transform: rotate(180deg);
}

.navigation{
    border: none;
    background-color: inherit;
    display: flex;
    gap: 4px;
}

